

<div class="page">

  <div class="entete">
    <div class="pseudo">

      <div class="iconP">
        <mat-icon>account_circle</mat-icon>
      </div>
      
      <div class="nom">{{pseudo}}</div>
    </div>

    <div class="deco"> 
      
      <button mat-icon-button aria-label="deconnexion" (click)="deconnexion()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </div>

  <div class="maPlante">
    <div class="recap">
      <div class="hum">
        <span [matBadge]="alertehum" [matBadgeHidden]="alertehum==0" (click)="notifH()">Humidité : {{humidite}}%</span>       
      </div>
      <div class="temp">
        <span [matBadge]="alertetempC" [matBadgeHidden]="alertetempC==0" [matBadge]="alertetempF" [matBadgeHidden]="alertetempF==0" (click)="notifT()">Température : {{temperature}}°C</span>
      </div>
      
    </div>
    <div class="indicateurs">
      <div class="indH">
        <round-progress
        [current]="humidite"
        [max]="maxH"
        [color]="gradientH ? 'url(#gradient)' : colorH"
        [background]="backgroundH"
        [radius]="radiusH"
        [stroke]="strokeH"
        [semicircle]="semicircleH"/>
        <div class="iconH">
          <mat-icon class="iconsec"> format_color_reset</mat-icon>
          <mat-icon class="iconhumide">pool</mat-icon>
        </div>
       
      </div>
  
      <div class="indT">
        <round-progress
        [current]="temperature"
        [max]="max"
        [color]="gradient ? 'url(#gradient)' : color"
        [background]="background"
        [radius]="radius"
        [stroke]="stroke"
        [semicircle]="semicircle"/>
        <div class="iconT">
          <mat-icon class="iconfroid">ac_unit</mat-icon>
          <mat-icon class="iconchaud">whatshot</mat-icon>
        </div>
      </div>
    </div>
    
   

    <div class="maPlante2">
      <div><img class="imgplante" src="../../assets/images/image-collée.png" alt="Ma plante"></div>
      <div class="nomPlante">Ma Plante</div>
    </div>

    <div class="boutonArroser">
      <button mat-raised-button class="arroser" (click)="arroser()">Arroser</button>
    </div>
  </div>
   
</div>
